.account_bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	
}

.account_bar svg {
	margin: 1vw;
	flex-basis: 30%;
}

.name-and-email {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	height: 100%;
	margin-right: 1vw;
}

.username {
	margin: 0;
	font-size: 6vw;
}

.email {
	margin: 0;
	font-size: 4vw;
}

.setting_buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 1vw;
  }

.setting_buttons button {
	font-size: 3vw;
	border: none;
	background-color: #E55140;
	color: #F9F9F9;
	padding: 2vw 3vw 2vw 3vw;
	border-radius: 4vw;
	margin: 0 2vw;
}

.line_footer {
	background-color: #E55140;
	height: 1px;
	margin-left: 5px;
	margin-right: 5px;
}

header {
	background-color: #181818;
	height: 48px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

header svg {
	display: block;
	width: 156px;
	margin: 0 auto;
	z-index: 2;
}

.header_box {
	position: sticky;
	top: 0;
	z-index: 2;
}

.Menu-Container {
	margin-right: 0;
	height:48px;
	width: 48px;
	z-index: 2;
}

.Menu {
	height: 12px;
	width: 26px;
	margin-left: 11px;
	margin-top: 18px;
}
.bar1, .bar2 {
	height: 2px;
	width: 26px;
	margin: 0 0 8px;
	background-color: #F9F9F9;
	transition: 0.4s;
}	
.change .bar1{
	transform: translate(0, 5px) rotate(-45deg);
}	
.change .bar2{
	transform: translate(0, -5px) rotate(45deg);
}
.overlay {
	height: 100%;
	width: 0%;
	transition: 0.4s;
	z-index: 1;
	bottom: 0;
	right: 0;
	background-color: #181818;
	opacity : 0.95;
	position: fixed;
	overflow-x: hidden;
}	
.overlay-content {
	display: block;
	text-align: right;
	white-space: nowrap;

}
.overlay-content a {
	font-size: 36px;
	height: 48px;
	text-decoration: none;
}

.overlay-content svg {
	width: 36px;
	margin-right: 10px;
	margin-left: 10px;
}

.overlay_icons {
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 10px;

}

.spacer {
	margin-left: 0;
	height:48px;
	width: 48px;
}

.Footer_box {
	width: 100%;
	background-color: #181818;
	margin-top: 100%;
}

.Footer_Logo svg {
	width: 156px;
	margin-top: 5px;
	margin-right: 10px;
}

.socials svg{
	width: 36px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.Events_bar {
	color: #F9F9F9;
	font-size: 18px;
	border: none;
	background-color: #E55140;
	height: 36px;
	width: 100%;
}

.line_title {
	background-color: #E55140;
	height: 1px;
	width: 250px;
	margin: 0 auto 0;
}

img {
	width: 30%;
	height: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.line_body {
	background-color: #E55140;
	height: 0.5px;
	width: 50%;
}

.type {
	position: relative;
	height: 6vw;
	width: 12vw;
	background-color: #E55140;
	color: #F9F9F9;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
}

.venue_title {
	font-size: 4vw;
	display: flex;
	justify-content: space-between;
}

.text {
	width: 75%;
	margin-left: 10px;
}

.line_overlay {
	background-color: #E55140;
	height: 1px;
	width: 75%;
	float: right;
}

.line_footer {
	background-color: #E55140;
	height: 1px;
	margin-left: 5px;
	margin-right: 5px;
}
.Links {
	margin-left: 6px;
	margin-bottom: 5px;
}
.divider a:before {
	content: "|";
	color: #E55140;
}
.divider a:first-child:before {
	content: "";
}	
.overlay input {
	width: 75%;
	height: 28px;
	float: right;
	border-radius: 21px;
	border-color: #F9F9F9;
	background-color: transparent;
}
body {
	font-family: Calibri;
}
h5 {
	font-size: 16px;
	font-weight: normal;
	color: #F9F9F9;
	margin: 5px;
}	
h6 {
	font-size: 14px;
	color: #F9F9F9;
	margin: 6px
}
a {
	font-size: 14px;
	color: #F9F9F9;
}
.container {
	display: flex;
	justify-content: space-between;
	margin-right: 2vw;
}

ul {
	height: 90%;
	overflow-y: scroll;
	padding: 0;
	margin: 0;
}

ul::-webkit-scrollbar {
	display: none;
}

li {
	display: flex;
	background-color: #F9F9F9;
	margin: 3vw;
	border-radius: 5px;
	list-style: none;
	height: 20vw;
	cursor: pointer;
	box-sizing: border-box;
	filter: drop-shadow(1px 3px 3px #707070);
}

.ratings {
	margin-top: 1vw;
	display: inline-block;
	background-color: #F9F9F9;
	height: 6vw;
	width: 25vw;
	filter: drop-shadow(1px 3px 3px #707070);
	border-radius: 3vw;
	text-align: center;
}

.stars {
	color: #707070;
	font-size: 4.25vw;
	padding: 0.5vw;
}

.stars.red {
	color: #E55140;
}

.menu-bar {
	text-align: center;
	width: 100%;
	height: 7vw;
	background-color: #181818;
	font-size: 25px;
	color: white;
	padding-top: 3px;
}

p {
	display: inline-block;
	margin-top: 1.5vw;
	font-size: 3.5vw; /*18 18 14 12*/
}